body {
  background-color: #f6f2f0;
  width: 100%;
  height: 600px;
  font-family: "Archivo Narrow", sans-serif;
  color: #0040FF;
  font-size: 18px;
}
#navBar {
  display: flex;
  width: 95%;
  height: 90px;
  background-color: #f6f2f0;
  margin-left: auto;
  margin-right: auto;
}
#menu {
  display: flex;
  width: 60%;
  height: 40px;
  flex-direction: row;
  margin-left: 300px;
  margin-top: 30px;
}
#menu ul {
  display: flex;
  width: 100%;
  height: 40px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
  background-color: #ffffff;
}
#menu ul li {
  text-decoration: none;
  list-style-type: none;
  justify-content: space-around;
  margin: 0px;
  padding: 9px 17px;
}
#menu ul li a {
  margin: 0px;
  color: #0040FF;
  text-decoration: none;
  list-style-type: none;
}
#menu ul li:hover {
  background-color: #0040FF;
}
#menu ul li a:hover {
  color: #ffffff;
}
#logoSerpy {
  width: 70%;
  height: 63px;
  background-image: url(../imagenes/logoSombraSerpy.png);
  background-size: cover;
  margin-top: 10px;
}
#inicio {
  display: grid;
  grid-template-areas:
    "inicioUno inicioDos inicioTres"
    "inicioUno inicioDos inicioCuatro";
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 245px 245px;
}
#inicioUno {
  grid-area: inicioUno;
  background-image: url(../imagenes/baldeCeleste.jpg);
  background-size: cover;
  border: 3px solid #ffffff;
}
#inicioDos {
  grid-area: inicioDos;
  background-image: url(../imagenes/escobillonRosa.JPG);
  background-size: cover;
  border: 3px solid #ffffff;
}
#inicioTres {
  grid-area: inicioTres;
  background-image: url(../imagenes/jardinPulverizador.jpg);
  background-size: cover;
  border: 3px solid #ffffff;
}
#inicioCuatro {
  grid-area: inicioCuatro;
  background-image: url(../imagenes/repasadores.JPG);
  background-size: cover;
  border: 3px solid #ffffff;
}
#transUno {
  width: 100%;
  height: 70px;
  background-color: #078bf785;
  margin-top: 110px;
} 
.textoTrans {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
}
.textoTransDos {
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 24px;
}
#transDos {
  width: 100%;
  height: 70px;
  background-color: #ffffff5b;
  margin-top: 20px;
} 
#transTres {
  width: 100%;
  height: 70px;
  background-color: #08752965;
  margin-top: 160px;
} 
#inicioSerpy {
  display: flex;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}
#isoLogoSerpy {
  width: 27%;
  height: 73px;
  background-image: url(../imagenes/logoLeyendaSerpy.png);
  background-size: cover;
  margin-top: 10px;
  margin-left: 40px;
}
#fotoPresentacion {
  margin-top: 10px;
  width: 90%;
  height: 400px;
  background-image: url(../imagenes/baldeVerde.jpeg);
  background-size: cover;
} 
#textoPresentacion {
  grid-area: textoPresentacion;
  width: 100%;
  color: #0040FF;
  margin-top: 10px;
  font-size: 25px;
  border: 1px solid #DF3A01;
}
#presentacion{
  width: 80%;
  height: 300px;
  margin-top: 70px;
  margin-left: 50px;
  text-align: center;
}
#pieSlide {
  display: flex;
  width: 100%;
  height: 90px;
  margin: 0;
  background-color: #ffffff;
}
.center{
  margin: 0;
  margin-top: 10px;
  margin-left: 90px;
}
.centerDos{
  margin: 0;
  margin-top: 10px;
}
.centerTres{
  margin: 0;
  margin-left: 50px;
  margin-top: 2px;
}
.centerCua{
  margin: 0;
  margin-left: 50px;
  margin-top: 12px;
}
.centerCin{
  margin: 0;
  margin-left: 5px;
  margin-top: 3px;
}
.centerSeis{
  margin: 0;
  margin-left: 40px;
  margin-top: 20px;
}

#productos {
  display: flex;
}
#productoUno {
  width: 16%;
  height: 320px;
  background-image: url(../imagenes/chicaPulverizando.png);
  background-size: cover;
  border: 2px solid #ffffff;
}
#productoDos {
  width: 16%;
  height: 320px;
  background-image: url(../imagenes/cepillosMadera.JPG);
  background-size: cover;
  border: 2px solid #ffffff;
}
#productoTres {
  width: 16%;
  height: 320px;
  background-image: url(../imagenes/pañoRejilla.JPG);
  background-size: cover;
  border: 2px solid #ffffff;
}
#productoCuatro {
  width: 16%;
  height: 320px;
  background-image: url(../imagenes/pelaPapas.JPG);
  background-size: cover;
  border: 2px solid #ffffff;
}
#productoCinco {
  width: 16%;
  height: 320px;
  background-image: url(../imagenes/brochesPlasticos.JPG);
  background-size: cover;
  border: 2px solid #ffffff;
}
#productoSeis {
  width: 16%;
  height: 320px;
  background-image: url(../imagenes/burletes.JPG);
  background-size: cover;
  border: 2px solid #ffffff;
}
#botones {
  display: flex;
}
.textBotOne {
  color: #ffffff;
  font-size: 22px;
  list-style-type: none;
  text-decoration-line: none;
  margin: 0;
}
.textBotTwo {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
  list-style-type: none;
}
.textBotThree {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  list-style-type: none;
  list-style-type: none;
}
#botonUno {
  width: 16%;
  height: 100px;
  background-color: #04B404;
  border: 2px solid #ffffff;
  text-align: center;
}
#botonDos {
  width: 16%;
  height: 100px;
  background-color: #D7DF01;
  border: 2px solid #ffffff;
}
#botonTres {
  width: 16%;
  height: 100px;
  background-color: #0040FF;
  border: 2px solid #ffffff;
}
#botonCuatro {
  width: 16%;
  height: 100px;
  background-color: #DF3A01;
  border: 2px solid #ffffff;
}
#botonCinco {
  width: 16%;
  height: 100px;
  background-color: #088A4B;
  border: 2px solid #ffffff;
}
#botonSeis {
  width: 16%;
  height: 100px;
  background-color: #FE9A2E;
  border: 2px solid #ffffff;
}
#textoPie {
  font-size: 25px;
  text-align: center;
  margin: 0;
}
#ofertas {
  display: flex;
  width: 95%;
  height: 500px;
  background-image: url(../imagenes/fondoBanderines.jpg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.ofertaUno {
  width: 300px;
  height: 280px;
  background-color: #ffffff80;
  margin-top: 150px;
  margin-left:50px;
}
.textOfert {
  width: 200px;
  height: 200px;
  margin: 0;
  color: #ffffff;
  font-family:'Architects Daughter', cursive;
  font-size: 35px;
  text-align: center;
  margin-top: 250px;
  margin-left:15px;
}
#fotoOferta {
  width: 90%;
  height: 250px;
  background-image: url(../imagenes/brochesPlasticos.JPG);
  background-size: cover;
  margin-top: 10px;
  margin-left: 10px;
  border: 2px solid #FE9A2E;
}
#incorporaciones {
  display: flex;
  width: 95%;
  height: 500px;
  background-image: url(../imagenes/fondoPuertas.jpg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.incorporacionUno {
  width: 300px;
  height: 280px;
  background-color: #ffffff80;
  margin-top: 150px;
  margin-left:50px;
}
.textIncorp {
  width: 200px;
  height: 200px;
  margin: 0;
  color: #ffffff;
  font-family:'Architects Daughter', cursive;
  font-size: 35px;
  text-align: center;
  margin-top: 250px;
  margin-left:15px;
}
#fotoIncorporaciones {
  width: 90%;
  height: 250px;
  background-image: url(../imagenes/cepillosMadera.JPG);
  background-size: cover;
  margin-top: 10px;
  margin-left: 10px;
  border: 2px solid #FE9A2E;
}
#contacto {
  display: flex;
  width: 90%;
  height: 480px;
  margin-right: auto;
  margin-right: auto;
}
#mapa {
  width: 100%;
  height: 450px;
  float: left;
  justify-items: center;
}
#datosSerpy {
  width: 100%;
  height: auto;
}
#direccion {
  width: 260px;
  height: 160px;
  background-color: #ffffff;
  float: left;
  margin-left: 20px;
}
.textDireccion {
  color: #0040FF;
  font-size: 22px;
  text-align: center;
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}
#datosContacto {
  width: 260px;
  height: 160px;
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-left: 310px;
}
#datosMails {
  width: 96%;
  height: 230px;
  background-color: #ffffff;
  margin-left: 20px;
  margin-top: 50px;
}
.textDatos {
  color: #0040FF;
  font-size: 22px;
  text-align: center;
  float: left;
  margin-left: 30px;
  margin-top: 2px;
}
#fotoJardin {
  width: 20%;
  height: 500px;
  background-image: url(../imagenes/seccionJardineria.png);
  background-size: cover;
  float: left;
}
#transJardin {
  width: 100%;
  height: 200px;
  background-color: #ffffff70;
  float: left;
  margin-top: 50px;
}
.textoProd {
  color: #0040FF;
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
}
#fichasJardin {
  display: flex;
  width: 75%;
  height: 500px;
}
.ficha {
  width: 150px;
  height: 220px;
  background-color: #ffffff;
  border: 1px solid #FE9A2E;
  margin-top: 20px;
  margin-left: 20px;
}
#fotoFicha {
  width: 90%;
  height: 100px;
  background-image: url(../imagenes/pelaPapas.JPG);
  background-size: cover;
  margin-top: 10px;
  margin-left: 7px;
  border: 2px solid #FE9A2E;
}
.nombreFicha {
  margin: 0;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}
.detalleFicha {
  margin: 0;
  text-align: center;
  font-size: 18px;
}
.marcaFicha {
  margin: 0;
  text-align: center;
  font-size: 22px;
}
#fotoCepilleria {
  width: 20%;
  height: 500px;
  background-image: url(../imagenes/cepillosMadera.JPG);
  background-size: cover;
  float: left;
}
.transCepilleria {
  width: 100%;
  height: 100px;
  background-color: #ffffff70;
  float: left;
  margin-top: 50px;
}
.textoCep {
  color: #0040FF;
  text-align: center;
  font-size: 27px;
  margin-top: 35px;
}
#fotoTextil {
  width: 20%;
  height: 500px;
  background-image: url(../imagenes/pañoRejilla.JPG);
  background-size: cover;
  float: left;
}
#fotoBazar {
  width: 20%;
  height: 500px;
  background-image: url(../imagenes/pelaPapas.JPG);
  background-size: cover;
  float: left;
}
#fotoPlasticos {
  width: 20%;
  height: 500px;
  background-image: url(../imagenes/brochesPlasticos.JPG);
  background-size: cover;
  float: left;
}
#fotoBurlete {
  width: 20%;
  height: 500px;
  background-image: url(../imagenes/burletes.JPG);
  background-size: cover;
  float: left;
}
