body {
  background-color: #f6f2f0;
  width: 100%;
  height: 100%;
  font-family: "Archivo Narrow", sans-serif;
  color: #2b5ef7;
  font-size: 18px;
}
#navBar {
  display: flex;
  width: 95%;
  height: 95px;
  background-color: #f6f2f0;
  margin-left: auto;
  margin-right: auto;
}
#logocompleto {
  display: block;
  width: 25%;
  height: 100px;
  font-size: 13px;
  margin: 0;
}
#slogan{
  width: 400px;
  height: 30px;
  margin-left: 20px;
  font-size: 15px;
}
#menu {
  display: flex;
  width: 80%;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  margin-left: 130px;
  margin-top: 20px;
  background-color: #244fcf;
  border-bottom: 2px solid #ffffff;
  box-shadow: 5px 0 10px rgba(0,0,0 ,.4);
}
#menu ul {
  display: flex;
  width: 80%;
  height: 30px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}
#menu ul li {
  margin: 0 5px;
  padding: 0px;
}
#menu ul li a {
 padding: 4px 15px;
  list-style-type: none;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
}
#menu ul li:hover, ul li.active{
  background-color: rgba(0,0,0 ,.4);
  transition: .4s;
}
.bottonMenu {
  margin-right:30px;
  font-size: 25px;
  color: #ffffff;
  cursor: pointer;
  display: none;
}
ul.show {
  top: 65px; 
}
#logoSerpy {
  width: 70%;
  height: 70px;
  background-image: url(../serpyLogo.png);
  background-size: cover;
  margin-top: 5px;
}
#inicio {
  display: grid;
  grid-template-areas:
    "inicioUno inicioDos inicioTres"
    "inicioUno inicioDos inicioCuatro";
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 240px 240px;
  margin-top: 5px;
}
#inicioUno {
  grid-area: inicioUno;
  background-image: url(../imagenes/baldeCeleste.jpg);
  background-size: cover;
  border: 3px solid #ffffff;
}
#inicioDos {
  grid-area: inicioDos;
  background-image: url(../imagenes/escobillonRosa.JPG);
  background-size: cover;
  border: 3px solid #ffffff;
}
#inicioTres {
  grid-area: inicioTres;
  background-image: url(../imagenes/jardinPulverizador.jpg);
  background-size: cover;
  border: 3px solid #ffffff;
}
#inicioCuatro {
  grid-area: inicioCuatro;
  background-image: url(../imagenes/repasa.jpg);
  background-size: cover;
  border: 3px solid #ffffff;
}
#transUno {
  width: 100%;
  height: 70px;
  background-color: #078bf785;
  margin-top: 110px;
} 
.textoTrans {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
}
.textoTransDos {
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 24px;
}
#transDos {
  width: 100%;
  height: 70px;
  background-color: #ffffff5b;
  margin-top: 20px;
} 
#transTres {
  width: 100%;
  height: 70px;
  background-color: #08752965;
  margin-top: 160px;
} 
#transCuatro {
  width: 100%;
  height: 70px;
  background-color: #e46d0c65;
  margin-top: 60px;
} 
#inicioSerpy {
  display: flex;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}
#isoLogoSerpy {
  width: 27%;
  height: 73px;
  background-image: url(../imagenes/logoLeyendaSerpy.png);
  background-size: cover;
  margin-top: 10px;
  margin-left: 40px;
}
#fotoPresentacion {
  margin-top: 10px;
  width: 90%;
  height: 400px;
  background-image: url(../imagenes/baldeVerde.jpeg);
  background-size: cover;
} 
#textoPresentacion {
  grid-area: textoPresentacion;
  width: 100%;
  color: #0040FF;
  margin-top: 10px;
  font-size: 25px;
  border: 1px solid #DF3A01;
}
#presentacion{
  width: 80%;
  height: 300px;
  margin-top: 70px;
  margin-left: 50px;
  text-align: center;
}
#pieSlide {
  display: flex;
  width: 100%;
  height: 90px;
  margin: 0;
  background-color: #ffffff;
}
.center{
  margin: 0;
  margin-top: 10px;
  margin-left: 90px;
}
.centerDos{
  margin: 0;
  margin-top: 10px;
}
.centerTres{
  margin: 0;
  margin-left: 50px;
  margin-top: 2px;
}
.centerCua{
  margin: 0;
  margin-left: 50px;
  margin-top: 12px;
}
.centerCin{
  margin: 0;
  margin-left: 5px;
  margin-top: 3px;
}
.centerSeis{
  margin: 0;
  margin-left: 40px;
  margin-top: 20px;
}
#productos {
  display: grid;
  grid-template-areas: "productoUno productoDos productoTres productoCuatro productoCinco productoSeis"
  "botonUno botonDos botonTres botonCuatro botonCinco botonSeis";
  grid-template-columns: 16% 16% 17% 17% 16% 16%;
  grid-template-rows: 320px 100px;
  margin-top: 5px;
}
#productoUno {
  grid-area: productoUno;
  background-image: url(../imagenes/chicaPulverizando.png);
  background-size: cover;
  border: 2px solid #ffffff;
}
#productoDos {
  grid-area: productoDos;
  background-image: url(../imagenes/cepillosMadera.JPG);
  background-size: cover;
  border: 2px solid #ffffff;
}
#productoTres {
  grid-area: productoTres;
  background-image: url(../imagenes/pañoRejilla.JPG);
  background-size: cover;
  border: 2px solid #ffffff;
}
#productoCuatro {
  grid-area: productoCuatro;
  background-image: url(../imagenes/pelaPapas.JPG);
  background-size: cover;
  border: 2px solid #ffffff;
}
#productoCinco {
  grid-row: productoCinco;
  background-image: url(../imagenes/brochesPlasticos.JPG);
  background-size: cover;
  border: 2px solid #ffffff;
}
#productoSeis {
  grid-area: productoSeis;
  background-image: url(../imagenes/burletes.JPG);
  background-size: cover;
  border: 2px solid #ffffff;
}
.textBotOne {
  color: #ffffff;
  font-size: 22px;
  list-style-type: none;
  text-decoration-line: none;
  margin: 0;
}
.textBotTwo {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
  list-style-type: none;
}
.textBotThree {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  list-style-type: none;
  list-style-type: none;
}
#botonUno {
  grid-area: botonUno;
  background-color: #04B404;
  border: 2px solid #ffffff;
  text-align: center;
}
#botonDos {
  grid-area: botonDos;
  background-color: #D7DF01;
  border: 2px solid #ffffff;
}
#botonTres {
  grid-area: botonTres;
  background-color: #0040FF;
  border: 2px solid #ffffff;
}
#botonCuatro {
  grid-area: botonCuatro;
  background-color: #DF3A01;
  border: 2px solid #ffffff;
}
#botonCinco {
  grid-area: botonCinco;
  background-color: #088A4B;
  border: 2px solid #ffffff;
}
#botonSeis {
  grid-area: botonSeis;
  background-color: #FE9A2E;
  border: 2px solid #ffffff;
}
#textoPie {
  font-size: 25px;
  text-align: center;
  margin: 0;
}
#ofertas {
  display: flex;
  width: 95%;
  height: 500px;
  background-image: url(../imagenes/fondoBanderines.jpg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.ofertaUno {
  display: flex;
  width: 40%;
  height: 200px;
  margin-top: 240px;
  margin-left:50px;
}
.ofertaDos {
  display: flex;
  width: 40%;
  height: 150px;
  margin-top: 240px;
  margin-left:50px;
}
.ofertaTres {
  display: flex;
  width: 40%;
  height: 100px;
  margin-top: 240px;
  margin-left:50px;
}
#textoOfert {
  width: 200px;
  height: 200px;
}
.textOfert{  
  color: #ffffff;
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
  margin-left:20px;
}
#fotoOferta {
  width: 40%;
  height: 150px;
  background-color: #2e76e257;
  background-size: cover;
  border: 2px solid #FE9A2E;
}
#incorporaciones{
  display: flex;
  width: 95%;
  height: 470px;
  background-image: url(../imagenes/fondoPuertas.jpg);
  background-size: cover;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
.incorporacionUno {
  width: 15%;
  height: 200px;
  margin-top: 40px;
  margin-left:5px;
}
.textIncorp {
  width: 220px;
  height: 280px;
  margin: 0;
  color: #ffffff;
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
  text-align: center;
  float: left;
  margin-left:10px;
}
.fotoIncorporaciones {
  width: 80%;
  height: 170px;
  background-size: cover;
  margin-top: 10px;
  margin-left: 10px;
  border: 2px solid #FE9A2E;
}
.textIncorp {
  width: 160px;
  height: 280px;
  margin: 0;
  color: #ffffff;
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
  text-align: center;
  float: left;
  margin-left:10px;
}
#contacto {
  display: grid;
  grid-template-areas: "mapa direccion telefono"
  "mapa datosMails datosMails";
  grid-template-columns: 50% 24% 24%;
  grid-template-rows: 200px 250px;
  margin-top: 5px;
}
#mapa {
  grid-area: mapa;
  border: 1px solid #DF3A01;
}
#direccion {
  grid-area: direccion;
  background-color: #ffffff;
}
.textDireccion {
  color: #0040FF;
  width: 80%;
  height: 30px;
  font-size: 22px;
  text-align: center;
  margin-top: 40px;
  margin-left: 30px;
}
.textTel {
  color: #0040FF;
  width: 80%;
  height: 30px;
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
  margin-left: 30px;
}
#datosMails {
  grid-area: datosMails;
  background-color: #eca60f93;
}
#telefono {
  grid-area: telefono;
  display: block;
  background-color: #ffffff;
}
.textDatos {
  color: #0040FF;
  font-size: 22px;
  text-align: center;
  float: left;
  margin-left: 30px;
  margin-top: 2px;
}
.subProductos {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
#fotoJardin {
  width: 265px;
  height: 500px;
  background-image: url(../imagenes/jardin.jpg);
  background-size: cover;
}
#transpJardin {
  width: 100%;
  height: 200px;
  background-color: #ffffff70;
  float: left;
  margin-top: 150px;
}  
.textoProd {
  width: 100%;
  height: 80px;
  color: #0040FF;
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
}
.fichasProductos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 85%;
  float: right;
}
.ficha {
  width: 180px;
  height: 240px;
  background-color: #ffffff;
  border: 1px solid #FE9A2E;
  margin-top: 5px;
  margin-left: 20px;
}
#fotoFicha {
  width: 80%;
  height: 110px;
  background-image: url(../imagenes/pelaPapas.JPG);
  background-size: cover;
  margin-top: 10px;
  margin-left: 7px;
  border: 2px solid #FE9A2E;
}
.nombreFicha {
  margin: 0;
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
}
.detalleFicha {
  margin: 0;
  text-align: center;
  font-size: 18px;
}
.marcaFicha {
  margin: 0;
  text-align: center;
  font-size: 18px;
}
#fotoCepilleria {
  width: 20%;
  height: 500px;
  background-image: url(../imagenes/cepillosMadera.JPG);
  background-size: cover;
  float: left;
}
.transCepilleria {
  width: 100%;
  height: 100px;
  background-color: #ffffff70;
  float: left;
  margin-top: 50px;
}
#arriba {
  width: 150px;
  height: 50px;
  background-color: #244fcf;
  border: 1px solid #fff;
  margin-top: 80px;
  margin-left: 40px;
}
#arriba a{
  color: #ffffff;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style-type: none;
  text-decoration: none;
}
.textoCep {
  color: #0040FF;
  text-align: center;
  font-size: 27px;
  margin-top: 35px;
}
#fotoTextil {
  width: 20%;
  height: 500px;
  background-image: url(../imagenes/pañoRejilla.JPG);
  background-size: cover;
  float: left;
}
#fotoBazar {
  width: 20%;
  height: 500px;
  background-image: url(../imagenes/pelaPapas.JPG);
  background-size: cover;
  float: left;
}
.fotoBazarProd {
  width: 90%;
  height: 140px;
  background-size: cover;
  align-items: center;
  margin-top: 10px;
  margin-left: 15px;
}
.datosFichaProd {
  margin: 0;
  margin-top: 5px;
  width: 180px;
  height: 90px;
}
#fotoPlasticos {
  width: 20%;
  height: 500px;
  background-image: url(../imagenes/brochesPlasticos.JPG);
  background-size: cover;
  float: left;
}
#fotoBurlete {
  width: 20%;
  height: 500px;
  background-image: url(../imagenes/burletes.JPG);
  background-size: cover;
  float: left;
}
@media all and (min-width: 600px) and (max-width: 1060px) {
body {
    background-color: #f6f2f0;
    width: 100%;
    height: 100%;
    font-family: "Archivo Narrow", sans-serif;
    color: #2b5ef7;
    font-size: 18px;
  }
  #navBar {
    display: block;
    width: 95%;
    height: 150px;
    background-color: #f6f2f0;
    margin-left: auto;
    margin-right: auto;
  }
  #logocompleto {
    display: block;
    width: 25%;
    height: 100px;
    font-size: 13px;
    margin: 0;
  }
  #slogan{
    width: 400px;
    height: 30px;
    margin-left: 20px;
    font-size: 15px;
  }
  #menu {
    display: flex;
    width: 95%;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #244fcf;
    border-bottom: 2px solid #ffffff;
    box-shadow: 5px 0 10px rgba(0,0,0 ,.4);
  }
  #menu ul {
    display: flex;
    width: 80%;
    height: 30px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
  }
  #menu ul li {
    margin: 0 5px;
    padding: 0px;
  }
  #menu ul li a {
   padding: 4px 15px;
    list-style-type: none;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    color: #ffffff;
  }
  #menu ul li:hover, ul li.active{
    background-color: rgba(0,0,0 ,.4);
    transition: .4s;
  }
  .bottonMenu {
    margin-right:30px;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
    display: none;
  }
  ul.show {
    top: 65px; 
  }
  #logoSerpy {
    width: 30%;
    height: 70px;
    background-image: url(../serpyLogo.png);
    background-size: cover;
    margin-top: 5px;
  }
  #inicio {
    display: grid;
    grid-template-areas:
      "inicioUno inicioDos inicioTres"
      "inicioUno inicioDos inicioCuatro";
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 240px 240px;
    margin-top: 5px;
  }
  #inicioUno {
    grid-area: inicioUno;
    background-image: url(../imagenes/baldeCeleste.jpg);
    background-size: cover;
    border: 3px solid #ffffff;
  }
  #inicioDos {
    grid-area: inicioDos;
    background-image: url(../imagenes/escobillonRosa.JPG);
    background-size: cover;
    border: 3px solid #ffffff;
  }
  #inicioTres {
    grid-area: inicioTres;
    background-image: url(../imagenes/jardinPulverizador.jpg);
    background-size: cover;
    border: 3px solid #ffffff;
  }
  #inicioCuatro {
    grid-area: inicioCuatro;
    background-image: url(../imagenes/repasa.jpg);
    background-size: cover;
    border: 3px solid #ffffff;
  }
  #transUno {
    width: 100%;
    height: 40%;
    background-color: #078bf785;
    margin-top: 110px;
  } 
  .textoTrans {
    color: #ffffff;
    text-align: center;
    font-size: 24px;
  }
  .textoTransDos {
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
  }
  #transDos {
    width: 100%;
    height: 30%;
    background-color: #ffffff5b;
    margin-top: 20px;
  } 
  #transTres {
    width: 100%;
    height: 40%;
    background-color: #08752965;
    margin-top: 100px;
  } 
  #transCuatro {
    width: 100%;
    height: 70px;
    background-color: #e46d0c65;
    margin-top: 60px;
  } 
  #inicioSerpy {
    display: flex;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  #isoLogoSerpy {
    width: 27%;
    height: 73px;
    background-image: url(../imagenes/logoLeyendaSerpy.png);
    background-size: cover;
    margin-top: 10px;
    margin-left: 40px;
  }
  #fotoPresentacion {
    margin-top: 10px;
    width: 90%;
    height: 400px;
    background-image: url(../imagenes/baldeVerde.jpeg);
    background-size: cover;
  } 
  #textoPresentacion {
    grid-area: textoPresentacion;
    width: 100%;
    color: #0040FF;
    margin-top: 10px;
    font-size: 25px;
    border: 1px solid #DF3A01;
  }
  #presentacion{
    width: 80%;
    height: 300px;
    margin-top: 70px;
    margin-left: 50px;
    text-align: center;
  }
  #pieSlide {
    display: flex;
    width: 130%;
    height: 90px;
    margin: 0;
    background-color: #ffffff;
  }
  .center{
    margin: 0;
    margin-top: 10px;
    margin-left: 0px;
  }
  .centerDos{
    margin: 0;
    margin-top: 10px;
  }
  .centerTres{
    margin: 0;
    margin-left: 0px;
    margin-top: 2px;
  }
  .centerCua{
    margin: 0;
    margin-left: 0px;
    margin-top: 12px;
  }
  .centerCin{
    margin: 0;
    margin-left: 0px;
    margin-top: 3px;
  }
  .centerSeis{
    margin: 0;
    margin-left: 0px;
    margin-top: 20px;
  }
  #productos {
    display: grid;
    grid-template-areas: "productoUno productoDos productoTres productoCuatro productoCinco productoSeis"
    "botonUno botonDos botonTres botonCuatro botonCinco botonSeis";
    grid-template-columns: 16% 16% 17% 17% 16% 16%;
    grid-template-rows: 320px 100px;
    margin-top: 5px;
  }
  #productoUno {
    grid-area: productoUno;
    background-image: url(../imagenes/chicaPulverizando.png);
    background-size: cover;
    border: 2px solid #ffffff;
  }
  #productoDos {
    grid-area: productoDos;
    background-image: url(../imagenes/cepillosMadera.JPG);
    background-size: cover;
    border: 2px solid #ffffff;
  }
  #productoTres {
    grid-area: productoTres;
    background-image: url(../imagenes/pañoRejilla.JPG);
    background-size: cover;
    border: 2px solid #ffffff;
  }
  #productoCuatro {
    grid-area: productoCuatro;
    background-image: url(../imagenes/pelaPapas.JPG);
    background-size: cover;
    border: 2px solid #ffffff;
  }
  #productoCinco {
    grid-row: productoCinco;
    background-image: url(../imagenes/brochesPlasticos.JPG);
    background-size: cover;
    border: 2px solid #ffffff;
  }
  #productoSeis {
    grid-area: productoSeis;
    background-image: url(../imagenes/burletes.JPG);
    background-size: cover;
    border: 2px solid #ffffff;
  }
  .textBotOne {
    color: #ffffff;
    font-size: 22px;
    list-style-type: none;
    text-decoration-line: none;
    margin: 0;
  }
  .textBotTwo {
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    list-style-type: none;
  }
  .textBotThree {
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    list-style-type: none;
    list-style-type: none;
  }
  #botonUno {
    grid-area: botonUno;
    background-color: #04B404;
    border: 2px solid #ffffff;
    text-align: center;
  }
  #botonDos {
    grid-area: botonDos;
    background-color: #D7DF01;
    border: 2px solid #ffffff;
  }
  #botonTres {
    grid-area: botonTres;
    background-color: #0040FF;
    border: 2px solid #ffffff;
  }
  #botonCuatro {
    grid-area: botonCuatro;
    background-color: #DF3A01;
    border: 2px solid #ffffff;
  }
  #botonCinco {
    grid-area: botonCinco;
    background-color: #088A4B;
    border: 2px solid #ffffff;
  }
  #botonSeis {
    grid-area: botonSeis;
    background-color: #FE9A2E;
    border: 2px solid #ffffff;
  }
  #textoPie {
    font-size: 25px;
    text-align: center;
    margin: 0;
  }
  #ofertas {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 100%;
    background-image: url(../imagenes/fondoBanderines.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }
  .ofertaUno {
    display: flex;
    width: 60%;
    height: 200px;
    margin-top: 340px;
    margin-left:50px;
  }
  .ofertaDos {
    display: flex;
    width: 50%;
    height: 100%;
    margin-top: 50px;
    margin-left:50px;
  }
  .ofertaTres {
    display: flex;
    width: 60%;
    height: 100%;
    margin-top: 50px;
    margin-left:50px;
  }
  #textoOfert {
    width: 200px;
    height: 200px;
  }
  .textOfert{  
    color: #ffffff;
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    margin-left:20px;
  }
  #fotoOferta {
    width: 50%;
    height: 150px;
    background-color: #2e76e257;
    background-size: cover;
    border: 2px solid #FE9A2E;
  }
  #incorporaciones{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 800px;
    background-image: url(../imagenes/fondoPuertas.jpg);
    background-size: cover;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .incorporacionUno {
    width: 15%;
    height: 200px;
    margin-top: 40px;
    margin-left:5px;
  }
  .textIncorp {
    width: 150px;
    height: 280px;
    margin: 0;
    color: #ffffff;
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    text-align: center;
    float: left;
    margin-left:0px;
  }
  .fotoIncorporaciones {
    width: 80%;
    height: 100px;
    background-size: cover;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid #FE9A2E;
  }
  .textIncorp {
    width: 100px;
    height: 250px;
    margin: 0;
    color: #ffffff;
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    text-align: center;
    float: left;
    margin-left:10px;
  }
  #contacto {
    display: grid;
    grid-template-areas: "mapa mapa" "direccion telefono"
    "datosMails datosMails";
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 200px 250px;
    margin-top: 5px;
  }
  #mapa {
    grid-area: mapa;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: 1px solid #DF3A01;
  }
  #direccion {
    grid-area: direccion;
    background-color: #ffffff;
  }
  .textDireccion {
    color: #0040FF;
    width: 80%;
    height: 30px;
    font-size: 22px;
    text-align: center;
    margin-top: 40px;
    margin-left: 30px;
  }
  .textTel {
    color: #0040FF;
    width: 80%;
    height: 30px;
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
  }
  #datosMails {
    grid-area: datosMails;
    background-color: #eca60f93;
  }
  #telefono {
    grid-area: telefono;
    display: block;
    background-color: #ffffff;
  }
  .textDatos {
    color: #0040FF;
    font-size: 22px;
    text-align: center;
    float: left;
    margin-left: 30px;
    margin-top: 2px;
  }
  .subProductos {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }
  #fotoJardin {
    width: 20%;
    height: 500px;
    background-image: url(../imagenes/jardin.jpg);
    background-size: cover;
  }
  #transpJardin {
    width: 100%;
    height: 200px;
    background-color: #ffffff70;
    float: left;
    margin-top: 150px;
  }  
  .textoProd {
    width: 100%;
    height: 80px;
    color: #0040FF;
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
  }
  .fichasProductos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 85%;
    float: right;
  }
  .ficha {
    width: 180px;
    height: 240px;
    background-color: #ffffff;
    border: 1px solid #FE9A2E;
    margin-top: 5px;
    margin-left: 20px;
  }
  #fotoFicha {
    width: 80%;
    height: 110px;
    background-image: url(../imagenes/pelaPapas.JPG);
    background-size: cover;
    margin-top: 10px;
    margin-left: 7px;
    border: 2px solid #FE9A2E;
  }
  .nombreFicha {
    margin: 0;
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
  }
  .detalleFicha {
    margin: 0;
    text-align: center;
    font-size: 18px;
  }
  .marcaFicha {
    margin: 0;
    text-align: center;
    font-size: 18px;
  }
  #fotoCepilleria {
    width: 20%;
    height: 500px;
    background-image: url(../imagenes/cepillosMadera.JPG);
    background-size: cover;
    float: left;
  }
  .transCepilleria {
    width: 100%;
    height: 100px;
    background-color: #ffffff70;
    float: left;
    margin-top: 50px;
  }
  #arriba {
    width: 25%;
    height: 50px;
    background-color: #244fcf;
    border: 1px solid #fff;
    margin-top: 40px;
    margin-left: 20px;
  }
  #arriba a{
    color: #ffffff;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    text-decoration: none;
  }
  .textoCep {
    color: #0040FF;
    text-align: center;
    font-size: 27px;
    margin-top: 35px;
  }
  #fotoTextil {
    width: 20%;
    height: 500px;
    background-image: url(../imagenes/pañoRejilla.JPG);
    background-size: cover;
    float: left;
  }
  #fotoBazar {
    width: 20%;
    height: 500px;
    background-image: url(../imagenes/pelaPapas.JPG);
    background-size: cover;
    float: left;
  }
  .fotoBazarProd {
    width: 90%;
    height: 140px;
    background-size: cover;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
  }
  .datosFichaProd {
    margin: 0;
    margin-top: 5px;
    width: 180px;
    height: 90px;
  }
  #fotoPlasticos {
    width: 20%;
    height: 500px;
    background-image: url(../imagenes/brochesPlasticos.JPG);
    background-size: cover;
    float: left;
  }
  #fotoBurlete {
    width: 20%;
    height: 500px;
    background-image: url(../imagenes/burletes.JPG);
    background-size: cover;
    float: left;
  }
}
@media all and (max-width: 599px) {
  body {
    width: 100%;
    margin: 0;
}
  #navBar {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
  #logocompleto {
    display: block;
    width: 100%;
    height: 70px;
    font-size: 13px;
    margin: 0;
}
  #slogan{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
  }
  #menu {
    display: block;
    width: 99%;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #244fcf;
    border: 2px solid #ffffff;
  }
  #menu ul {
    display: block;
    width: 100%;
    height: 50px;
    margin: 0px;
    padding:0px;
    text-decoration: none;
    list-style-type: none;
  }
  #menu ul li {
    width: 100%;
    height: 50px;
    padding: 0px;
    border-bottom:2px solid #ffffff;
    box-shadow: 5px 0 10px rgba(0,0,0 ,.4);
  }
  #menu ul li a {
    height: 50px;
    padding: 12px 0px;
    list-style-type: none;
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  #menu ul li:hover, ul li.active{
    background-color: rgba(0,0,0 ,.4);
    transition: .4s;
    padding: 0px;
  }
  .bottonMenu {
    margin-right:30px;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
    display: none;
  }
  ul.show {
    top: 65px; 
  }
  #logoSerpy {
    width: 80%;
    height: 80px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .active {
    width: 100%;
    height: 50px;
  }
  #inicio {
    display: grid;
    grid-template-areas:
      "inicioUno"
      "inicioDos"
      "inicioTres"
      "inicioCuatro";
    grid-template-columns: 100%;
    grid-template-rows: 400px 400px 400px 400px;
    margin-top: 5px;
  }
  #inicioCuatro {
    grid-area: inicioCuatro;
    background-image: url(../imagenes/repasaMovil.jpg);
    background-size: cover;
    border: 3px solid #ffffff;
 }
  #transUno {
    width: 100%;
    height: 70px;
    background-color: #078bf785;
    margin-top: 110px;
  } 
  .textoTrans {
    color: #ffffff;
    text-align: center;
    font-size: 24px;
  }
  .textoTransDos {
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
  }
  #transDos {
    width: 100%;
    height: 100px;
    background-color: #ffffff5b;
    margin-top: 20px;
  } 
  #transTres {
    width: 100%;
    height: 100px;
    background-color: #08752965;
    margin-top: 160px;
  } 
  #transCuatro {
    width: 100%;
    height: 70px;
    background-color: #e46d0c65;
    margin-top: 60px;
  } 
  #inicioSerpy {
    display: block;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  #isoLogoSerpy {
    width: 27%;
    height: 73px;
    background-image: url(../imagenes/logoLeyendaSerpy.png);
    background-size: cover;
    margin-top: 10px;
    margin-left: 40px;
  }
  #fotoPresentacion {
    margin-top: 10px;
    width: 100%;
    height: 400px;
    background-image: url(../imagenes/baldeVerde.jpeg);
    background-size: cover;
  } 
  #textoPresentacion {
    grid-area: textoPresentacion;
    width: 100%;
    color: #0040FF;
    margin-top: 10px;
    font-size: 25px;
    border: 1px solid #DF3A01;
  }
  #presentacion{
    width: 80%;
    height: 100%;
    margin-top: 70px;
    margin-left: 50px;
    text-align: center;
  }
  #pieSlide {
    width: 170%;
    height: 90px;
    margin: 0;
    background-color: #ffffff;
  }
  .center{
    margin: 0;
    margin-top: 10px;
    margin-left: 90px;
  }
  .centerDos{
    margin: 0;
    margin-top: 10px;
  }
  .centerTres{
    margin: 0;
    margin-left: 50px;
    margin-top: 2px;
  }
  .centerCua{
    margin: 0;
    margin-left: 50px;
    margin-top: 12px;
  }
  .centerCin{
    margin: 0;
    margin-left: 5px;
    margin-top: 3px;
  }
  .centerSeis{
    margin: 0;
    margin-left: 40px;
    margin-top: 20px;
  }
  #productos {
    display: grid;
    grid-template-areas: "productoUno" "botonUno" "productoDos" "botonDos" "productoTres" "botonTres" "productoCuatro" "botonCuatro" "productoCinco" "botonCinco" "productoSeis"
    "botonSeis";
    grid-template-columns: 100%;
    grid-template-rows: 320px 100px 320px 100px 320px 100px 320px 100px 320px 100px 320px 100px;
    margin-top: 5px;
  }
  #productoUno {
    grid-area: productoUno;
    background-image: url(../imagenes/chicaPulverizando.png);
    background-size: cover;
    border: 2px solid #ffffff;
  }
  #productoDos {
    grid-area: productoDos;
    background-image: url(../imagenes/cepillosMadera.JPG);
    background-size: cover;
    border: 2px solid #ffffff;
  }
  #productoTres {
    grid-area: productoTres;
    background-image: url(../imagenes/pañoRejilla.JPG);
    background-size: cover;
    border: 2px solid #ffffff;
  }
  #productoCuatro {
    grid-area: productoCuatro;
    background-image: url(../imagenes/pelaPapas.JPG);
    background-size: cover;
    border: 2px solid #ffffff;
  }
  #productoCinco {
    grid-row: productoCinco;
    background-image: url(../imagenes/brochesPlasticos.JPG);
    background-size: cover;
    border: 2px solid #ffffff;
  }
  #productoSeis {
    grid-area: productoSeis;
    background-image: url(../imagenes/burletes.JPG);
    background-size: cover;
    border: 2px solid #ffffff;
  }
  .textBotOne {
    color: #ffffff;
    font-size: 22px;
    list-style-type: none;
    text-decoration-line: none;
    margin: 0;
  }
  .textBotTwo {
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    list-style-type: none;
  }
  .textBotThree {
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    list-style-type: none;
    list-style-type: none;
  }
  #botonUno {
    grid-area: botonUno;
    background-color: #04B404;
    border: 2px solid #ffffff;
    text-align: center;
  }
  #botonDos {
    grid-area: botonDos;
    background-color: #D7DF01;
    border: 2px solid #ffffff;
  }
  #botonTres {
    grid-area: botonTres;
    background-color: #0040FF;
    border: 2px solid #ffffff;
  }
  #botonCuatro {
    grid-area: botonCuatro;
    background-color: #DF3A01;
    border: 2px solid #ffffff;
  }
  #botonCinco {
    grid-area: botonCinco;
    background-color: #088A4B;
    border: 2px solid #ffffff;
  }
  #botonSeis {
    grid-area: botonSeis;
    background-color: #FE9A2E;
    border: 2px solid #ffffff;
  }
  #textoPie {
    font-size: 25px;
    text-align: center;
    margin: 0;
    margin-top: 10px;
  }
  #ofertas {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../imagenes/fondoBanderines.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }
  .ofertaUno {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .ofertaDos {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-left:0px;
  }
  .ofertaTres {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }
  #textoOfert {
    width: 200px;
    height: 200px;
  }
  .textOfert{  
    color: #ffffff;
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
  }
  #fotoOferta {
    width: 50%;
    height: 150px;
    background-color: #2e76e257;
    background-size: cover;
    margin-top: 50px;
    margin-left: 80px;
    border: 2px solid #FE9A2E;
  } 
    #incorporaciones{
    display: block;
      width: 100%;
      height: 100%;
      background-image: url(../imagenes/fondoPuertas.jpg);
      background-size: cover;
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto;
    }
    .incorporacionUno {
      width: 50%;
      height: 380px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    .textIncorp {
      width: 150px;
      height: 200px;
      margin: 0;
      color: #ffffff;
      font-family: 'Shadows Into Light', cursive;
      font-size: 25px;
      text-align: center;
      float: left;
      margin-left:10px;
    }
    .fotoIncorporaciones {
      width: 80%;
      height: 150px;
      background-size: cover;
      margin-top: 10px;
      margin-left: 10px;
      border: 2px solid #FE9A2E;
    }
  #contacto {
    display: grid;
    grid-template-areas: "mapa" "direccion""telefono"
    "datosMails";
    grid-template-columns: 100%;
    grid-template-rows: 400px 200px 200px 250px;
    margin-top: 5px;
  }
  #mapa {
    grid-area: mapa;
    width: 300px;
    border: 1px solid #DF3A01;
  }
  #direccion {
    grid-area: direccion;
    background-color: #ffffff;
  }
  .textDireccion {
    color: #0040FF;
    width: 80%;
    height: 30px;
    font-size: 22px;
    text-align: center;
    margin-top: 40px;
    margin-left: 30px;
  }
  .textTel {
    color: #0040FF;
    width: 80%;
    height: 30px;
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
  }
  #datosMails {
    grid-area: datosMails;
    background-color: #eca60f93;
  }
  #telefono {
    grid-area: telefono;
    display: block;
    background-color: #ffffff;
  }
  .textDatos {
    color: #0040FF;
    font-size: 22px;
    text-align: center;
    float: left;
    margin-left: 30px;
    margin-top: 2px;
  }
.subProductos {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }
  #fotoJardin {
    width: 100%;
    height: 500px;
    background-image: url(../imagenes/jardin.jpg);
    background-size: cover;
  }
  #transpJardin {
    width: 100%;
    height: 200px;
    background-color: #ffffff70;
    float: left;
    margin-top: 150px;
  }  
  .textoProd {
    width: 100%;
    height: 80px;
    color: #0040FF;
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
}
  .fichasProductos {
    display: block;
    align-items: center;
    width: 100%;
    height: 85%;
}
  .ficha {
    width: 180px;
    height: 240px;
    background-color: #ffffff;
    border: 1px solid #FE9A2E;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
  #fotoFicha {
    width: 80%;
    height: 110px;
    background-image: url(../imagenes/pelaPapas.JPG);
    background-size: cover;
    margin-top: 10px;
    margin-left: 7px;
    border: 2px solid #FE9A2E;
  }
  .nombreFicha {
    margin: 0;
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
  }
  .detalleFicha {
    margin: 0;
    text-align: center;
    font-size: 18px;
  }
  .marcaFicha {
    margin: 0;
    text-align: center;
    font-size: 18px;
  }
  #fotoCepilleria {
    width: 100%;
    height: 500px;
    background-image: url(../imagenes/cepillosMadera.JPG);
    background-size: cover;
    float: left;
  }
  .transCepilleria {
    width: 100%;
    height: 100px;
    background-color: #ffffff70;
    float: left;
    margin-top: 50px;
  }
  #arriba {
    width: 60%;
    height: 50px;
    background-color: #244fcf;
    border: 1px solid #fff;
    margin-top: 40px;
    margin-left: 70px;
  }
  #arriba a{
    color: #ffffff;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    text-decoration: none;
  }
#fotoTextil {
    width: 100%;
    height: 500px;
    background-image: url(../imagenes/pañoRejilla.JPG);
    background-size: cover;
    float: left;
  }
  #fotoBazar {
    width: 100%;
    height: 500px;
    background-image: url(../imagenes/pelaPapas.JPG);
    background-size: cover;
    float: left;
  }
  .fotoBazarProd {
    width: 100%;
    height: 140px;
    background-size: cover;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
  }
  .datosFichaProd {
    margin: 0;
    margin-top: 5px;
    width: 180px;
    height: 90px;
  }
  #fotoPlasticos {
    width: 100%;
    height: 500px;
    background-image: url(../imagenes/brochesPlasticos.JPG);
    background-size: cover;
    float: left;
  }
  #fotoBurlete {
    width: 100%;
    height: 500px;
    background-image: url(../imagenes/burletes.JPG);
    background-size: cover;
    float: left;
  }
}